{% extends '@templates/site-container.twig' %}
{% block hero %}
{% endblock hero %}
{% block main_content %}
  {% include '@atoms/breadcrumb/_breadcrumb.twig' with breadcrumb_demo %}
  <div class="bg-grey-800 py-4">
    {% embed '@organisms/featured/_featured.twig' %}
      {% block image %}
        {% include "@atoms/image/_image.twig" with {
          image: node_image,
        } %}
      {% endblock image %}
      {% block attributes %}
        <h1 class="featured--title text-white">Node Title</h1>
        <div class="field">
          <div class="field__label">
            Field One
          </div>
          <div class="field__item text-white">
            lorem ipsum dolor sit amet, mitas consectetur adipiscing elit, sed do.
          </div>
        </div>
        <div class="field">
          <div class="field__label">
            Field Two
          </div>
          <div class="field__item text-white">
            lorem ipsum dolor sit amet, mitas consectetur adipiscing elit, sed do.
          </div>
        </div>
        <div class="field">
          <div class="field__label">
            Field with link
          </div>
          <div class="field__item">
            <a href="#projects">lorem ipsum dolor sit amet</a>
          </div>
        </div>
      {% endblock attributes %}
    {% endembed %}
  </div>
  <div class="container">
    <div class="row py-4">
      <div class="col-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non massa id ipsum pharetra dictum ac vitae elit. Fusce blandit ac nibh et convallis. Fusce eget nunc non quam euismod ornare vitae a turpis. Nulla non diam id elit eleifend molestie a sed lectus. Sed ac quam in purus accumsan tempor vel sit amet velit. Quisque eget augue euismod, dictum erat nec, ullamcorper diam. Nam lorem risus, pharetra a magna sed, maximus sodales justo. Cras et interdum enim. Sed imperdiet turpis eu lacus gravida ultricies. Vestibulum ut vehicula erat, eget interdum metus. Maecenas ac purus id ligula blandit rhoncus. Curabitur auctor congue rhoncus. Ut non placerat tortor.</p>
      </div>
    </div>
  </div>

  <section class="">
    {% include '@organisms/grid-half/_grid-half.twig' with homepage_product_builder %}
  </section>

  <section>
    {% include '@organisms/awards/_awards.twig' with {
      awards: awards,
    } %}
  </section>
{% endblock main_content %}
