{#
/**
 * @file Card Grid!
 * Implements a grid of cards using Bootstrap layout.
 *
 * Available variables:
 * - card_grid_title: [string]: The title of the card grid.
 * - card_grid_rows: [array]: A collection of cards to display.
 */
#}

{% set card_grid_classes = [
  'col-sm-12',
  row_classes,
] | sort | join(' ') | trim %}

{% if card_grid_title %}
  <h3>{{ card_grid_title }}</h3>
{% endif %}

<div class="row">
  {% for item_card in card_grid_rows %}
    {% set item_card = {
      card_border: 'none',
      card_title: item_card.card_title,
      card_text: item_card.card_text,
      card_image_location: item_card.card_image_location,
      card_image: item_card.card_image,
      card_background: item_card.card_background,
      card_style: item_card.card_style,
      card_link: item_card.card_link,
      card_link_text: item_card.card_link_text,
      button_color: item_card.button_color,
      button_text: item_card.button_text,
      button_link: item_card.button_link,
      card_title_element: item_card.card_title_element,
      card_full_click: item_card.card_full_click,
    } %}
  <div class="{{ card_grid_classes }}">
    {% if item_card.card_type == 'icon' %}
      {% include '@molecules/card/_icon--card.twig' with item_card %}
    {% else %}
      {% include '@molecules/card/_card.twig' with item_card %}
    {% endif %}
  </div>
  {% endfor %}
</div>
