{#
/**
 * @file Footer!
 *
 * Available variables:
 * - footer.slogan: [string]: A handy slogan to display.
 */
#}

<footer class="footer bg-brand-blue-tint-20 py-9" role="contentinfo">
  <div class="container">
    {% block footer_top %}
    <div class="row pb-5">
      <div class="col-12">
        {% include '@atoms/svg/_svg.twig' with {
          svg: {
            svgpath: '@atoms/svg/svg/brand-logo.svg',
            colorOriginal: true,
          }
        } %}
      </div>
    </div>
    {% endblock footer_top %}
    <div class="row">
      <div class="col-12 col-lg-3">
        {% block footerFirst %}
          <div class="footer--nav pb-3">
            <h6 class="footer--nav--header">Call Us</h6>
            <ul class="footer--nav--links nav vertical">
              <li><a href="#">USA & CA +1 800 999 9574</a></li>
              <li><a href="#">Intl. +1 845 942 2800</a></li>
            </ul>
          </div>
          <div class="footer--nav pb-3">
            <h6 class="footer--nav--header">Call Us</h6>
            <ul class="footer--nav--links nav vertical">
              <li><a href="#">USA & CA +1 800 999 9574</a></li>
              <li><a href="#">Intl. +1 845 942 2800</a></li>
            </ul>
          </div>
          <div class="footer--nav pb-3">
            <h6 class="footer--nav--header">Call Us</h6>
            <ul class="footer--nav--links nav vertical">
              <li><a href="#">USA & CA +1 800 999 9574</a></li>
              <li><a href="#">Intl. +1 845 942 2800</a></li>
            </ul>
          </div>
        {% endblock footerFirst %}
      </div>
      <div class="col-12 col-lg-3">
        {% block footerSecond %}
          <div class="footer--nav pb-3">
            <h6 class="footer--nav--header">Call Us</h6>
            <ul class="footer--nav--links nav vertical">
              <li><a href="#">USA & CA +1 800 999 9574</a></li>
              <li><a href="#">Intl. +1 845 942 2800</a></li>
            </ul>
          </div>
          <div class="footer--nav pb-3">
            <h6 class="footer--nav--header">Call Us</h6>
            <ul class="footer--nav--links nav vertical">
              <li><a href="#">USA & CA +1 800 999 9574</a></li>
              <li><a href="#">Intl. +1 845 942 2800</a></li>
            </ul>
          </div>
          <div class="footer--nav pb-3">
            <h6 class="footer--nav--header">Call Us</h6>
            <ul class="footer--nav--links nav vertical">
              <li><a href="#">USA & CA +1 800 999 9574</a></li>
              <li><a href="#">Intl. +1 845 942 2800</a></li>
            </ul>
          </div>
        {% endblock footerSecond %}
      </div>
      <div class="col-12 col-lg-3">
        {% block footerThird %}
          <div class="footer--nav pb-3">
            <h6 class="footer--nav--header">Call Us</h6>
            <ul class="footer--nav--links nav vertical">
              <li><a href="#">USA & CA +1 800 999 9574</a></li>
              <li><a href="#">Intl. +1 845 942 2800</a></li>
            </ul>
          </div>
          <div class="footer--nav pb-3">
            <h6 class="footer--nav--header">Call Us</h6>
            <ul class="footer--nav--links nav vertical">
              <li><a href="#">USA & CA +1 800 999 9574</a></li>
              <li><a href="#">Intl. +1 845 942 2800</a></li>
            </ul>
          </div>
          <div class="footer--nav pb-3">
            <h6 class="footer--nav--header">Call Us</h6>
            <ul class="footer--nav--links nav vertical">
              <li><a href="#">USA & CA +1 800 999 9574</a></li>
              <li><a href="#">Intl. +1 845 942 2800</a></li>
            </ul>
          </div>
        {% endblock footerThird %}
      </div>
      <div class="col-12 col-lg-3">
        {% block footerFourth %}
          <div class="footer--nav pb-3">
            <h6 class="footer--nav--header">Call Us</h6>
            <ul class="footer--nav--links nav vertical">
              <li><a href="#">USA & CA +1 800 999 9574</a></li>
              <li><a href="#">Intl. +1 845 942 2800</a></li>
            </ul>
          </div>
          <div class="footer--nav pb-3">
            <h6 class="footer--nav--header">Call Us</h6>
            <ul class="footer--nav--links nav vertical">
              <li><a href="#">USA & CA +1 800 999 9574</a></li>
              <li><a href="#">Intl. +1 845 942 2800</a></li>
            </ul>
          </div>
          <div class="footer--nav pb-3">
            <h6 class="footer--nav--header">Call Us</h6>
            <ul class="footer--nav--links nav vertical">
              <li><a href="#">USA & CA +1 800 999 9574</a></li>
              <li><a href="#">Intl. +1 845 942 2800</a></li>
            </ul>
          </div>
        {% endblock footerFourth %}
      </div>
    </div>

  </div>
</footer>
<div class="footer-bottom bg-brand-blue-tint-40 py-2">
  <div class="container">
    <div class="row">
      {% block footer_bottom %}
        <div class="footer--nav pb-3 ml-auto mr-auto">
          <ul class="footer--nav--links nav">
            <li><a href="#">USA & CA +1 800 999 9574</a></li>
            <li><a href="#">Intl. +1 845 942 2800</a></li>
          </ul>
        </div>
      {% endblock footer_bottom %}
    </div>
  </div>
</div>
