{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% set asset_path = paths.assets ~ '/images' %}
{% if rows is not empty %}
  {% embed '@organisms/awards/_awards.twig' %}
    {% block awards_list %}
      {% for row in rows %}
        {{- row.content -}}
      {% endfor %}
    {% endblock awards_list %}
    {% block award_image %}
      {% include '@atoms/image/_image.twig' with {
        image: {
          variant: 'primary',
          src: asset_path ~ '/awards.png'
        },
      } %}
    {% endblock award_image %}
    {% block awards_link %}
        <a href="/about-us/awards" class="btn">See all Awards</a>
    {% endblock awards_link %}
  {% endembed %}
{% endif %}
