@use 'sass:map';
@use '../../../tokens/sass/utils';

.btn {
  border-radius: 25px;
  background-color: utils.bs-theme-color('brand-green-2');
  border: 1px solid utils.bs-theme-color('brand-green-2');
  height: 47px;
  line-height: 47px;
  padding: 0 2.5rem;
  color: utils.$bs-gray-800;
  font-size: 14px;
  font-weight: 500;
  &:hover {
    background-color: utils.bs-theme-color('brand-blue');
    border: 1px solid utils.bs-theme-color('brand-blue');
    color: utils.$bs-white;
    .svg--icon {
      color: utils.bs-theme-color('white');
    }
  }

  .svg--icon {
    height: 18px;
    width: 17px;
    color: utils.bs-theme-color('grey-800');
  }

  &-outline {
    background: transparent;
    border: 1px solid utils.bs-theme-color('brand-green-2');
    &:hover {
      background-color: utils.bs-theme-color('brand-green-2');
      border: 1px solid utils.bs-theme-color('brand-green-2');
      color: utils.$bs-gray-800;
      .svg--icon {
        color: utils.bs-theme-color('grey-800');
      }
    }

    .svg--icon {
      height: 18px;
      width: 17px;
      color: utils.bs-theme-color('brand-green-2');
    }
  }
  &-square {
    border-radius: 0;
  }

  &-reset {
    background: none;
    padding: 0;
    border: 0;
    border-radius: 0;
    color: utils.bs-theme-color('brand-green-1');
    &:hover {
      border: 0;
      background: 0;
      color: utils.bs-theme-color('brand-blue');
    }
  }
}

.bg-grey-800 {
  .btn {
    &-outline {
      background: transparent;
      border: 1px solid utils.bs-theme-color('brand-green-2');
      color: utils.bs-theme-color('brand-green-2');
      &:hover {
        background-color: utils.bs-theme-color('brand-green-2');
        border: 1px solid utils.bs-theme-color('brand-green-2');
        color: utils.$bs-gray-800;
      }
    }
  }
}
